data/videos/ filter=lfs diff=lfs merge=lfs -text
.h264 filter=lfs diff=lfs merge=lfs -text
.jpg filter=lfs diff=lfs merge=lfs -text
.JPG filter=lfs diff=lfs merge=lfs -text
.jpeg filter=lfs diff=lfs merge=lfs -text
.JPEG filter=lfs diff=lfs merge=lfs -text
data/zooniverse/ filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
